.preloader{
  /* Making the preloader floating over other elements.
  The preloader is visible by default. */

  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background: black;
  /* background-size: cover; */

  display: flex;
  justify-content: center;
  align-items: center;
}




/* Gradient Text */

.preloader > h1 {
  /* text-align: center; */
  /* align-items: center; */

  font-size: 4vw;
  font-family: system-ui;
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
@media screen and (max-width: 560px) {
    .preloader {
        font-size: 14vw;
    }
}

@media screen and (min-width: 560px) and (max-width: 900px){
    .preloader {
        font-size: 10vw;
    }
}*/





/* Yin Yang Spinner */

.yin-yang-loader > img {
   height: 15vh;
   aspect-ratio: 1/1;
   animation: spin 3s infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}


@media (max-width: 600px) {
   .yin-yang-loader > img {
      height: 7.5vh;
   }
}

@media (max-width: 900px) and (min-width: 600px) {
   .yin-yang-loader > img {
      height: 10vh;
   }
}


/* Glitch Loading Screen */

.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #010101;
   user-select: none;
}

.glitch {
   position: relative;
   font-size: 10vh;                   /* 80px */
   font-weight: 700;
   line-height: 1.2;
   color: #fff;
   letter-spacing: 5px;
   z-index: 1;
}

.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.8;
}

.glitch:before {
   animation: glitch-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #00ffff;
   z-index: -1;
}

.glitch:after {
   animation: glitch-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #ff00ff;
   z-index: -2;
}

@keyframes glitch-color {
   0% {
      transform: translate(0);
   }

   20% {
      transform: translate(-3px, 3px);
   }

   40% {
      transform: translate(-3px, -3px);
   }

   60% {
      transform: translate(3px, 3px);
   }

   80% {
      transform: translate(3px, -3px);
   }

   to {
      transform: translate(0);
   }
}