*[data-hints],
*[data-bottom-hints],
*[data-left-hints],
*[data-right-hints] {
    position: relative;
}

[data-hints]::after {
    content: attr(data-hints);
    text-indent: 0;
    font-weight: 400;
    font-style: normal;
    font-size: .85rem;
    background: #222;
    color: #fff;
    border-radius: .25rem;
    padding: .25rem .5rem .5rem;
    /* line-height: 1.2; */
    width: 100%;
    max-width: 200px;
    content-visibility: hidden;
    border-width: 0;
    /* word-wrap: break-word; */
    /* word-break: normal;  */
    margin-bottom: 10px;
    text-align: center;
}

[data-hints]::after,
[data-hints]::before {
    left: 50%;
    bottom: 100%;
    opacity: 0;
    z-index: 10;
    position: absolute;
    /* pointer-events: none; */
}

[data-hints]::before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #222;
    content: "";
}

[data-hints]:hover::before,
[data-hints]:hover::after,
[data-hints]:focus::before,
[data-hints]:focus::after {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    content-visibility: visible;
    opacity: 1;
}